finanzas/AI_Financial_News_Monitor_with_Sentiment_Analysis_and_Trading_Alerts.n8n
{
  "updatedAt": "2026-02-04T16:58:48.117Z",
  "createdAt": "2026-02-03T20:39:16.407Z",
  "id": "GOBWQwHpCECxsYt-8T-Bx",
  "name": "AI Financial News Monitor with Sentiment Analysis and Trading Alerts",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "feedUrl": "https://finance.yahoo.com/news/rss"
      },
      "id": "0e0b0b39-87a2-48c3-8b39-a75964ede5bf",
      "name": "RSS Feed - Yahoo Finance",
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        1088,
        48
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const keywords = ['NVIDIA', 'TSLA', 'AAPL', 'BTC', 'COMMODITY'];\nconst title = $json.title.toUpperCase();\nconst matches = keywords.filter(k => title.includes(k));\n\nreturn {\n  interesting: matches.length > 0,\n  ticker: matches[0] || 'GENERIC',\n  title: $json.title,\n  link: $json.link\n};"
      },
      "id": "315ada6c-e7d8-44c5-bef2-45aed4659fab",
      "name": "Ticker Filter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        48
      ]
    },
    {
      "parameters": {
        "url": "=https://r.jina.ai/{{ $json.link }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "c21ebb2d-3562-4152-8ff6-b544ed5ab8e9",
      "name": "Jina Reader - Clean Article",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1536,
        48
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "UvOWlSbwdldEzmAC",
          "name": "Bearer Auth Jian AI"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Eres un Analista de Riesgo de un Hedge Fund. Tu tarea es leer una noticia y determinar el impacto en el precio de la acción (Sentiment).\n\nCRITERIOS DE ANÁLISIS:\n- Bullish (10): Noticia muy positiva (ganancias récord, nuevos productos).\n- Bearish (-10): Noticia muy negativa (fraude, multas, pérdida de mercado).\n- Neutral (0): Información rutinaria.\n\nTONO: Frío, numérico y basado en datos.\n\nEl Output de reasoning debe estar en Español. "
        }
      },
      "id": "3d756f54-175a-4f80-85d0-021de7a1dbc3",
      "name": "AI Analyst - Wall Street",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1792,
        48
      ]
    },
    {
      "parameters": {
        "model": "=z-ai/glm-4.5-air:free",
        "options": {}
      },
      "id": "62d2ed87-fd47-4045-8b87-21515106d5f8",
      "name": "OpenRouter - Gemini 2.0 Flash",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1760,
        272
      ],
      "credentials": {
        "openRouterApi": {
          "id": "xZpAyjDIWgQms8rD",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"score\": { \"type\": \"integer\", \"description\": \"De -10 a 10\" },\n    \"recommendation\": { \"type\": \"string\", \"enum\": [\"BUY\", \"SELL\", \"HOLD\"] },\n    \"reasoning\": { \"type\": \"string\" }\n  },\n  \"required\": [\"score\", \"recommendation\", \"reasoning\"]\n}",
        "autoFix": true
      },
      "id": "8b72f814-56c8-491c-88a1-41dab8ee8b3f",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1888,
        272
      ]
    },
    {
      "parameters": {
        "sendTo": "YOUR_EMAIL@gmail.com",
        "subject": "=🚨 Alerta de Mercado: {{ $('Ticker Filter').item.json.ticker }} - {{ $json.output.recommendation }}",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; background-color: #f4f4f4; margin: 0; padding: 20px; }\n    .container { max-width: 600px; margin: 0 auto; background-color: #ffffff; border-radius: 8px; overflow: hidden; box-shadow: 0 2px 10px rgba(0,0,0,0.1); }\n    .header { background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 30px; text-align: center; }\n    .header h1 { margin: 0; font-size: 24px; }\n    .alert-icon { font-size: 48px; margin-bottom: 10px; }\n    .content { padding: 30px; }\n    .ticker-badge { display: inline-block; background-color: #667eea; color: white; padding: 8px 16px; border-radius: 20px; font-weight: bold; font-size: 18px; margin-bottom: 20px; }\n    .recommendation-box { background-color: {{ $json.output.recommendation === 'BUY' ? '#4caf50' : ($json.output.recommendation === 'SELL' ? '#f44336' : '#ff9800') }}; color: white; padding: 20px; border-radius: 8px; text-align: center; margin: 20px 0; }\n    .recommendation-box h2 { margin: 0 0 10px 0; font-size: 28px; }\n    .score-badge { background-color: rgba(255,255,255,0.2); display: inline-block; padding: 10px 20px; border-radius: 20px; font-size: 20px; font-weight: bold; }\n    .reasoning-section { background-color: #f8f9fa; padding: 20px; border-left: 4px solid #667eea; margin: 20px 0; border-radius: 4px; }\n    .reasoning-section h3 { margin-top: 0; color: #333; }\n    .reasoning-section p { color: #555; line-height: 1.6; margin: 0; }\n    .source-section { margin-top: 30px; padding-top: 20px; border-top: 2px solid #e0e0e0; }\n    .source-link { display: inline-block; background-color: #667eea; color: white; padding: 12px 24px; text-decoration: none; border-radius: 4px; margin-top: 10px; }\n    .source-link:hover { background-color: #5568d3; }\n    .footer { background-color: #f8f9fa; padding: 20px; text-align: center; color: #777; font-size: 12px; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <div class=\"alert-icon\">🚨</div>\n      <h1>Alerta de Mercado Financiero</h1>\n    </div>\n    <div class=\"content\">\n      <div style=\"text-align: center;\">\n        <span class=\"ticker-badge\">{{ $('Ticker Filter').item.json.ticker }}</span>\n      </div>\n      \n      <div class=\"recommendation-box\">\n        <h2>{{ $json.output.recommendation }}</h2>\n        <div class=\"score-badge\">Score: {{ $json.output.score }}/10</div>\n      </div>\n      \n      <div class=\"reasoning-section\">\n        <h3>📊 Análisis del Analista</h3>\n        <p>{{ $json.output.reasoning }}</p>\n      </div>\n      \n      <div class=\"source-section\">\n        <h3 style=\"color: #333; margin-top: 0;\">📰 Fuente de la Noticia</h3>\n        <p style=\"color: #555;\">{{ $('Ticker Filter').item.json.title }}</p>\n        <a href=\"{{ $('Ticker Filter').item.json.link }}\" class=\"source-link\" target=\"_blank\">Leer Artículo Completo</a>\n      </div>\n    </div>\n    <div class=\"footer\">\n      <p>Este es un mensaje automático generado por tu sistema de monitoreo financiero con IA.</p>\n      <p>Powered by n8n AI Financial Monitor</p>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "d6d0e533-b4c9-49aa-a7c5-6925826310e9",
      "name": "Gmail Alert",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2256,
        48
      ],
      "webhookId": "1dba2c63-00c9-4184-a2d8-533a04d84b86",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "YOUR_EMAIL@gmail.com Gmail"
        }
      }
    },
    {
      "parameters": {
        "model": "z-ai/glm-4.5-air:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1968,
        480
      ],
      "id": "f87f3c10-0b9d-4287-8d26-03b637817c90",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "xZpAyjDIWgQms8rD",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "connections": {
    "RSS Feed - Yahoo Finance": {
      "main": [
        [
          {
            "node": "Ticker Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ticker Filter": {
      "main": [
        [
          {
            "node": "Jina Reader - Clean Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jina Reader - Clean Article": {
      "main": [
        [
          {
            "node": "AI Analyst - Wall Street",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter - Gemini 2.0 Flash": {
      "ai_languageModel": [
        [
          {
            "node": "AI Analyst - Wall Street",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Analyst - Wall Street",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Analyst - Wall Street": {
      "main": [
        [
          {
            "node": "Gmail Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "6e90ff20-2eae-4e3d-bc35-9603586044b8",
  "activeVersionId": null,
  "versionCounter": 32,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-03T20:39:16.410Z",
      "createdAt": "2026-02-03T20:39:16.410Z",
      "role": "workflow:owner",
      "workflowId": "GOBWQwHpCECxsYt-8T-Bx",
      "projectId": "VwsneyzwRufZF4gJ",
      "project": {
        "updatedAt": "2026-01-29T11:41:39.000Z",
        "createdAt": "2026-01-29T11:40:48.290Z",
        "id": "VwsneyzwRufZF4gJ",
        "name": "MasterClass AI Automation",
        "type": "team",
        "icon": {
          "type": "emoji",
          "value": "🚀"
        },
        "description": "Automations for Masterclass Series in Henry",
        "creatorId": "7e93e9fa-ed56-44be-9665-0a8ad9e738d2",
        "projectRelations": [
          {
            "updatedAt": "2026-01-29T11:40:48.292Z",
            "createdAt": "2026-01-29T11:40:48.292Z",
            "userId": "7e93e9fa-ed56-44be-9665-0a8ad9e738d2",
            "projectId": "VwsneyzwRufZF4gJ",
            "user": {
              "updatedAt": "2026-02-04T01:04:44.000Z",
              "createdAt": "2025-06-12T23:41:13.919Z",
              "id": "7e93e9fa-ed56-44be-9665-0a8ad9e738d2",
              "email": "gobeamariano@gmail.com",
              "firstName": "Mariano",
              "lastName": "Daniel Gobea Alcoba",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "QF2NcgBLDDiV9w9R",
                "userActivatedAt": 1761609393508,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1762435530923
                },
                "userClaimedAiCredits": true,
                "dismissedCallouts": {
                  "aiAgentStarterCallout": true
                }
              },
              "disabled": false,
              "mfaEnabled": true,
              "lastActiveAt": "2026-02-04",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}